body
{
background-color: #EFEFEF;
color: #696969;
font-family:Arial;
}
.main
{
padding: 10px;
background-color: #003366;
border-radius: 10px 10px 0px 0px;
}
.main span
{
color: #FFFFFF;
font-size:28px;
}
.no-menu
{
    border-radius: 0px 0px 10px 10px;
    background-color: #003366;
    height:10px;
}
a
{
color: #034af3; 
}
/* Menu Styles ------------------------------*/ 
ul#menuNav
{
padding-bottom:0px;
padding-left:20px;
padding-right:20px;
padding-top:0px;
position: relative;
margin: 0;
background-color: #003366;
border-radius: 0px 0px 10px 10px;
}
ul#menuNav li
{
display: inline;
}
ul#menuNav li a 
{
background-color: #e8eef4;
padding: 10px 20px;
text-decoration: none;
line-height: 2.8em;
/*CSS3 properties*/
border-radius: 4px 4px 0 0;
}
ul#menuNav li a.active
{
    background-color: #ffffff;
}
ul#menuNav li a:hover
{
    background-color: #ffffff;
} 
ul#menuNav li a.navRight
{
    padding-bottom:0px;
    padding-top:0px;
    float:right;
}
/* Forms Styles ------------------------------*/ 
fieldset
{
padding-left: 12px;
} 
legend {
    font-size: 1.2em;
    font-weight: bold;
}
textarea {
    min-height: 75px;
}

.editor-label {

}

.editor-field {

}

fieldset label
{
display: block;
padding: 4px;
}
/*input[type="text"], input[type="password"]
{
width: 300px;
}
input[type="submit"]
{
padding: 4px;
}*/
/* Data Styles ------------------------------*/ 
table.data
{
background-color:#ffffff;
border:1px solid #c3c3c3;
border-collapse:collapse;
width:100%;
}
table.data th
{
background-color:#e8eef4;
border:1px solid #c3c3c3;
padding:3px;
}
table.data td 
{
border:1px solid #c3c3c3;
padding:3px;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
    display:block;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

/*Custom Css*/
.form-legend{
    width:100%;
    height:40px;
    background-color:#CCCC99;
    border-radius:10px 0px;
}
.form-legend span{
    position:absolute;
    padding:10px 20px;
    color:#FFFFFF;
    font-size:20px;
    font-weight:bold;
}
.container{
    background-color:#FFFFFF;
    border-radius:10px 0px 0px 0px;
}
.container form{
    padding:10px;
}


.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  background: #003366;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  border:0px;
  cursor:pointer;
}
.btn:hover {
  background: #3366CC;
  text-decoration: none;
}
.login-table{
    width:450px;
    padding-top:10px;
}

@media screen and (max-width: 450px)
{
    .login-table{
        width:100%;
    }
}